doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="/bootstrap/dist/css/bootstrap.css")
  body.container-full
    div(ng-controller="navCtrl")
      nav-ecanal(navdata="navdata")
    block content
